.card-cover {
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}

.card-cover:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    filter: brightness(1.2);
}
footer {
    background-color: #000; /* พื้นหลังสีดำ */
    border-top: 1px solid #fff; /* เส้นขอบสีขาว */
    width: 100%; /* เส้นขอบสุดขอบหน้าจอ */
    color: #fff; /* ข้อความสีขาว */
}

.nav-link {
    color: #fff !important; /* สีลิงก์เป็นสีขาว */
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
